// 菜单
$menuBg: #001528;
$menuHover: #001528;
$menuText: #bfcbd9;
$menuActiveText: #409eff;

// 子菜单
$subMenuBg: #1f2d3d;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951

// 侧边栏宽度
$sideBarWidth: calc(32vh);
