<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.zabbix.tools.service.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="store.zabbix.tools.common.entity.SysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="lock_flag" jdbcType="CHAR" property="lockFlag" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid" />
    <result column="qq_openid" jdbcType="VARCHAR" property="qqOpenid" />
    <result column="head_picture" jdbcType="VARCHAR" property="headPicture" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, `password`, salt, phone, avatar, dept_id, create_time, update_time, 
    lock_flag, del_flag, wx_openid, qq_openid, head_picture
  </sql>
</mapper>